<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
    {% include "navigation-bar.html" %}
    <h1 style="color: green">
    Hi {{person.name|upper}} {{person.surname.upper}}! This is the first template!
    </h1>

    {% comment %}
    DO NOT WORRY ABOUT THIS!
    {% endcomment %}
    {% if person.name == 'Alice' %}
        <p>Course taught by titular professor</p>
    {% endif %}

    <h2>
    It's {{current_date.date}}  # Accessing a value from the python datetime object
    </h2>
    <p><strong>Course themes</strong></p>
    <p>
        <ul>
        {% if themes %}
            {% for theme in themes %}
                <li>{{theme|first|lower}}</li> {# filter applied #}
            {% endfor %}
        {% else %}
            <p>There are no elements to show.</p>
        {% endif %}
        </ul>

    </p>
</body>
</html>